<div class="row mx-0">
      <div class=" col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-2" *ngFor="let realestate of realestates">
            <div class="card">
                  <div>
                        <img class="card-image" class="card-img-top" alt="..." [src]="realestate.image">
                        <div class="card-body">
                              <h1>{{realestate.name}}</h1>

                              <span class="price"> {{realestate.price}} KM</span>
                        </div>
                        <button class="btn btn-danger " (click)="deleteUserRealesatte(realestate.id)">Delete
                              Real Estate</button>
                        <button class="btn btn-primary" (click)="displayChangeImg()">Add Image</button>
                        <div>
                              <input class="realestate-img-input" type="text" [(ngModel)]="realestateImgUrl">
                              <button class="btn btn-primary" (click)="saveRealestateImg(realestate.id)">Save
                                    image</button>
                        </div>
                  </div>
            </div>

      </div>

</div>