.username {
  color: blue;
}
.registerBtn {
  margin-right: 5px;
}
.navbar-brand {
  display: block;

  padding: 8px 16px;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
}
.searchStyle {
  margin-right: 4px;
}
.btnSearch {
  margin-left: 4px;
}
