<!-- <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
      <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Icon-only">
            <svg class="svgImg bi">
                  <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                  <a routerLink="massage-inbox" class="nav-link active py-3 border-bottom sidebar-item"
                        aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="Home">
                        Inbox
                  </a>
            </li>
            <li>
                  <a routerLink="massage-send" class="nav-link active py-3 border-bottom sidebar-item" title=""
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        Send message
                  </a>
            </li>

      </ul>

</div> -->
<router-outlet></router-outlet>